@page "/Anagrafica"
@page "/Anagrafica/{tempMedID}"
@using System.ComponentModel
@using MySqlConnector;
<PageTitle>Anagrafica</PageTitle>
@rendermode InteractiveServer


<div class="corpo">
    <div class="toolbar">
        <div class="slideContainer">
            <button class="slideSelez">PAZIENTI</button>
            <button class="slide">CLIENTI</button>
            <button class="slide">FORNITORI</button>
            <button class="slide">CONTATTI</button>
        </div>
        <div class="buttonContainer">
            <button class="defButton" @onclick="@toggleForm">AGGIUNGI</button>
            <button class="defButton">MODIFICA</button>
            <button class="defButton" @onclick="deleteFromDB">ELIMINA</button>
            <button class="defButtonSmall" @onclick="populator">STAMPA</button>
            <input type="text" placeholder="Ricerca" @bind-value="searchValue" @oninput="searchPatient" class="inputSmall"/>
            <div class="insNumero">
                <div class="side">N</div>
                <input type="number" class="number"/>
            </div>
            <div class="insNumero">
                <div class="side">P</div>
                <input type="number" min="1" class="number" @bind="nPage" @oninput="changePage"/>
            </div>
            <input type="text" placeholder="Avanzata" class="inputLarge"/>
        </div>
    </div>

    <div class="list">
        <table class="styled-table">
            <thead>
            <tr class="headTable">
                <th>COGNOME</th>
                <th>NOME</th>
                <th>DATA DI NASCITA</th>
                <th>TELEFONO</th>
                <th>CELLULARE</th>
                <th>CELLULARE 2</th>
                <th>DA FATTURARE</th>
                <th>TERMINATE</th>
                <th>DOCUMENTATO</th>
                <th>
                    <div>Lock</div>
                </th>
            </tr>
            </thead>
            <tbody>

            <!-- Qui vengono aggiunte le righe della tabella -->
            @foreach (var paziente in pazientiFiltrati)
            {
                <tr @onclick="() => updateLastClicked(paziente)">
                    <td>@paziente.Surname</td>
                    <td>@paziente.FirstName</td>
                    <td>@paziente.BirthDate</td>
                    <td>@paziente.Telephone</td>
                    <td>@paziente.Phone1</td>
                    <td>@paziente.Phone2</td>
                    <td>@paziente.Billable</td>
                    <td>@(paziente.Completed ? "Sì" : "No")</td>
                    <td>@(paziente.Documented ? "Sì" : "No")</td>
                    <td>
                        <input type="checkbox"/>
                    </td>
                </tr>
            }
            @if(dbError){
                <tr>
                    <td colspan = "10" align="center">
                        <svg fill="none" height="25" viewBox="0 0 24 24" width="25" xmlns="http://www.w3.org/2000/svg"><path d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z" fill="#393a37"></path></svg>
                        Si è verificato un errore nella lettura del database
                    </td>
                </tr>
            }

            </tbody>
        </table>

    </div>
</div>


@if (visible)
{
    <div class="oscuramento">
        <!-- div contenente il pop-up per l'inserimento dei dati -->
        <div class="Inserimento">
            <!-- div contenente la barra superiore -->
            <div>
                <div class="inline buttonFormContainer">
                    <button class="buttonFormSelected">DATI PERSONALI</button>
                    <button class="buttonForm">FAMILIARI</button>
                    <button class="buttonForm">CONTATTI - FATTURAZIONE</button>
                    <button class="buttonForm">NOTE</button>
                </div>
                <div class="inline">
                    <button @onclick="@toggleForm" class="exitButton">X</button>
                </div>
            </div>
            <div class="containerForm">
                <div class="forms">
                    <!-- div colonna a sinistra -->
                    <div class=" sx">
                        <!-- div contenente i form principali -->
                        <div>
                            <div class="inline containerInput">
                                COGNOME*<br/>
                                <input type="text" @bind="nuovoPaziente.Surname" class="inputForm" placeholder="Poretti" maxlength="25"/>
                            </div>
                            <div class="inline containerInput">
                                NOME*<br/>
                                <input type="text" @bind="nuovoPaziente.FirstName" class="inputForm" placeholder="Giacomo" maxlength="25"/>
                            </div><br/>
                            <div class="inline containerInput">
                                <div>
                                    LUOGO DI NASCITA
                                    <div class="inline checkbox">estero<input @bind="nuovoPaziente.Foreigner" type="checkbox" maxlength="25"></div>
                                </div>
                                <input type="text" class="inputForm" placeholder="Milano"/>
                            </div>
                            <div class="inline containerInputSmall">
                                PROVINCIA<br/>
                                <input type="text" @bind="nuovoPaziente.BirthProvince" class="inputForm" placeholder="Milano" maxlength="25"/>
                            </div>
                            <div class="inline containerInputSmall">
                                SESSO<br/>
                                <select type="select" @bind="gender" class="inputFormScleta" placeholder=" ">
                                    <option value="m">Maschio</option>
                                    <option value="f">Femmina</option>
                                </select>
                            </div><br/>
                            <div class="inline containerInputSmall">
                                DATA NASCITA<br/>
                                <input type="date" @bind="nuovoPaziente.BirthDate" class="inputFormData" EnableMinMax="true" min="1900-01-01" max="@today"/>
                            </div>
                            <div class="inline containerInputSmall">
                                CODICE ASL<br/>
                                <input type="text" @bind="nuovoPaziente.CAsl" class="inputForm" placeholder="MI333" maxlength="5"/>
                            </div>
                            <div class="inline containerInput">
                                <div>
                                    CODICE FISCALE
                                    <div class="inline checkbox">cont. validità<input type="checkbox" maxlength="16"></div>
                                </div>
                                <input type="text" class="inputForm" @bind="nuovoPaziente.CF" placeholder="PRTGCM64H07F205D"/>
                            </div><br/>
                            <div class="inline containerInputSmall">
                                CATEGORIA<br/>
                                <select type="select" class="inputFormScleta" placeholder=" ">
                                    <option value="p">Prova</option>
                                </select>
                            </div>
                            <div class="inline containerInputSmall">
                                MEDICO<br/>
                                <input type="text" @bind="nuovoPaziente.DoctorID" class="inputForm" placeholder="Ippocrate" maxlength="25"/>
                            </div>
                            <div class="inline containerInput">
                                PROFESSIONE<br/>
                                <select type="select" class="inputFormScleta" placeholder=" ">
                                    <option value="p">Prova</option>
                                </select>
                            </div><br/>
                            <div class="inline containerInputLarge">
                                INDIRIZZI<br/>
                                <input type="text" class="inputFormLarge" placeholder="Via ..."  maxlength="25"/>
                            </div>
                        </div>

                    </div><!-- div contenente le referenze -->
                    <br/>
                    <div class="sx">
                        REFERENZE<br/>
                        <div class="inline pulsanti">
                            <button class="buttonOpzioniForm">MOTIVO</button>
                            <button class="buttonOpzioniForm">NOMINATIVO</button>
                            <button class="buttonOpzioniForm">NOTE</button>
                        </div>
                    </div>
                </div>
                <!-- div colonna destra contenente i tasti di salvataggio ecc. -->
                <div class="dx">
                    <button class="buttonAzioniForm" @onclick="savePatient">SALVA E CHIUDI</button><br/>
                    <button class="buttonAzioniForm">SALVA E APRI</button><br/>
                    <button class="buttonAzioniForm" @onclick="toggleForm">ANNULLA</button><br/>
                    <button class="buttonAzioniForm">STAMPA</button><br/>
                    @if (showFormErr)
                    {
                        <div>Verificare i dati immessi</div>
                    }
                    <button class="buttonAzioniFormIcona">IMPORTA CLIENTE</button>
                </div>
            </div>
        </div>

    </div>
}

@code {
    DBPopulator dbPopulator = new DBPopulator(); // Oggetto per la popolazione del database
    DbManager db = new DbManager(); // Oggetto per la gestione del database
    
    private string today = DateTime.Now.Year+"-"+DateTime.Now.Month+"-"+DateTime.Now.Day;
    [Parameter] 
    public string tempMedID { get; set; }
    private int medID { get; set; }
    
    Paziente nuovoPaziente = new(); // Paziente temporaneo per la creazione di un nuovo paziente
    Paziente lastClickedP = null!; // Paziente selezionato
    List<Paziente> pazienti = new List<Paziente>(); // Lista di tutti i pazienti
    List<Paziente> pazientiFiltrati = new List<Paziente>(); // Lista di tutti i pazienti filtrati
    
    private string gender = null!; // Sesso del paziente
    private string? searchValue = string.Empty; // Valore di ricerca
    private bool showFormErr = false; // Mostra l'errore del form
    private bool visible = false; // Mostra il form
    private bool dbError = false; // Errore del database
    private int nPage=1; // Numero di pagina
    private int patientsDisplayed = 50; // Numero di pazienti visualizzati per pagina
    
    protected override async Task OnInitializedAsync()
    {
        if (tempMedID != null)
        {
            medID = Int32.Parse(tempMedID);
        }
        else
        {       //else di sviluppo, per non dover fare il login ogni volta
            medID = 1;
        }
        //medID = Int32.Parse(tempMedID);
        
        try
        {
            await getPatientFromDB(0, patientsDisplayed);
        }
        catch (Exception e)
        {
            Console.WriteLine("Errore durante il recupero dei pazienti: " + e.Message);
            displayDbError();
        }
    }
    
    public void displayDbError()
    {
        dbError = true;
    }
    
    public void populator()
    {
        dbPopulator.Populator(FlagPatient: true);
    }

    private void toggleForm() => visible = !visible;
    
    // Metodo per la ricerca dei pazienti
    private void searchPatient(ChangeEventArgs e)
    {
        // Ottengo il valore della ricerca controllando che non sia null
        searchValue = e.Value != null ? e.Value.ToString() : string.Empty;
        
        var searchTerms = searchValue.Split(' ', StringSplitOptions.RemoveEmptyEntries);

        pazientiFiltrati = pazienti.Where(p =>
            searchTerms.All(term =>
                p.FirstName.Contains(term, StringComparison.OrdinalIgnoreCase) ||
                p.Surname.Contains(term, StringComparison.OrdinalIgnoreCase)
            )
        ).ToList();
    }

    public void updateLastClicked(Paziente p)
    {
        lastClickedP = p;
    }
    
    public async Task changePage()
    {
        if (nPage > 0)
        {
            await getPatientFromDB( patientsDisplayed * nPage - patientsDisplayed, patientsDisplayed * nPage) ;
        }
    }
    
    // Metodi con utilizzo del database
    public async Task<int?> getMinPatientID()
    {
        string queryMinPatientID = $"SELECT MIN(patientID) FROM PATIENT WHERE doctorID={medID}";
        MySqlDataReader reader;

        await db.OpenConnectionAsync();
        reader = await db.ExecuteReaderAsync(queryMinPatientID);

        if (!await reader.ReadAsync())
        {
            await db.CloseConnectionAsync();
            return null;
        }

        int minPID = reader.GetInt32("MIN(patientID)");
        await db.CloseConnectionAsync();
        await db.CloseReaderAsync(reader);
        return minPID;
    }
    
    public async Task getPatientFromDB(int minRow, int maxRow)
    {
        pazienti = new();

        var minPID = await getMinPatientID();
        
        //se non trovo il minimo patientID esco
        if (minPID == null)
        {
            Console.WriteLine("Errore durante il recupero del patientID minimo");
            return;
        }

        var queryRangePatient = $"SELECT * FROM PATIENT WHERE patientID BETWEEN {minPID + minRow} AND {minPID + maxRow} AND doctorID = {medID}";

        await db.OpenConnectionAsync();

        using (var reader = await db.ExecuteReaderAsync(queryRangePatient))
        {
            while (await reader.ReadAsync())
            {
                var paziente = new Paziente().getFromDBReader(reader);
                pazienti.Add(paziente);
            }
            await db.CloseReaderAsync(reader);
        }

        pazientiFiltrati = pazienti;
        await db.CloseConnectionAsync();
    }
    
    public async Task savePatient()
    {
        //salva il paziente
        nuovoPaziente.Gender = (gender != "m");
    
        Paziente paziente = new Paziente(nuovoPaziente.FirstName, nuovoPaziente.Surname, nuovoPaziente.Gender, "0000000000", "0000000000", "0000000000", "0000000000000000", "0000", nuovoPaziente.BirthDate, "Prova", nuovoPaziente.Foreigner, "Prova", "Prova", false, false, medID, nuovoPaziente.Locked);
    
        if (!paziente.checkInputs())
        {
            //mostro l'errore
            showFormErr = !showFormErr;
            return;
        }

        paziente.sanitizePatient();
    
        pazienti.Add(paziente);

        await paziente.saveInDB();
    
        pazientiFiltrati = pazienti;
    
        //se è visibile lo tolgo
        if (showFormErr) showFormErr = !showFormErr;
        toggleForm();
    }
    
    public async Task deleteFromDB()
    {
        if (lastClickedP == null)
        {
            Console.WriteLine("Nessun paziente selezionato");
            return;
        }

        string queryDeletePatient = "DELETE FROM PATIENT WHERE patientID=" + lastClickedP.PatientID;
    
        await db.OpenConnectionAsync();
    
        await db.MakeQueryAsync(queryDeletePatient);
    
        pazienti.Remove(lastClickedP);
        pazientiFiltrati = pazienti;
    
        await unLinkPatient();
    
        lastClickedP = null;
    
        await db.CloseConnectionAsync();
    }
    
    public async Task unLinkPatient()
    {
        string queryUnlinkPatient = "UPDATE VISIT SET patientID=-1 WHERE patientID=" + lastClickedP.PatientID;
    
        await db.OpenConnectionAsync();
        await db.MakeQueryAsync(queryUnlinkPatient);
    }
}