@page "/pazienteTemp"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject IWebHostEnvironment env

<!-- Colonna sinistra -->
<div>

</div>
<!-- Barra in alto -->
<div class="buttonContainer">
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton" @onclick="@ToggleForm">Carica foto</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
    <button class="defButton">...</button>
</div>
<!-- Corpo centrale -->
<div>
    @if (_visibile)
    {
        <div class="oscuramento">
            <!-- Form carica foto -->
            <div class="formAggiunta">
                <!-- Prima linea -->
                <div class="infoForm">
                    <div class="inline elemento">DATA<input class="inputFormData" type="date"/></div>
                    <div class="inline elemento">
                        TIPO SERIE
                        <select type="select" class="inputFormSelezione" placeholder=" ">
                            <option value="p">Prova</option>
                        </select>
                    </div>
                    <div class="inline elemento">NOTE<input class="inputForm" type="text"/></div>
                </div>
                <!-- Seconda linea -->
                <div class="inline seconda">
                    <button class="fileButton" @onclick="OpenFilePicker"> </button>
                    <InputFile style="display: none" @ref="inputFile" OnChange="OnInputFileChange" multiple="true" accept="image/*"/>
                    <script>
                        
                    let clickedImg=null
                    let names=['Occl. Superiore', 'Occl. DX', 'Occl. Frontale', 'Occl. SX', 'Occl. Inferiore', 'Laterale', 'Frontale', 'Frontale Sorriso', 'RX Panoramica', 'RX Laterale', 'RX Frontale PA']
                    let filesNames=new Array(11).fill(null)
                    
                    window.previewImage = (inputElem, idContainer) => {
                        // Ottiene il contenitore delle anteprime
                        const container = document.getElementById(idContainer);
                        // Cancella tutte le anteprime esistenti
                        container.innerHTML = '';
                        
                        // Itera su tutti i file selezionati
                        for (let i = 0; i < inputElem.files.length; i++) {
                            // Crea un URL temporaneo per il file e crea l'immagine
                            const url = URL.createObjectURL(inputElem.files[i]);
                            const img = document.createElement('img');
                            
                            // Imposta l'URL come sorgente dell'immagine e le dimensioni
                            img.src = url;
                            img.style.width = '150px';
                            img.style.height = '150px';
                            img.setAttribute("id",inputElem.files[i].name)
                            img.setAttribute("onclick","imageClick('"+inputElem.files[i].name+"')")

                            // Crea un nuovo div e aggiunge l'immagine al div
                            const div = document.createElement('div');
                            div.appendChild(img);
                            
                            // Rimuove l'URL temporaneo dopo che l'immagine è stata caricata e aggiunge l'immagine al contenitore
                            img.addEventListener('load', () => URL.revokeObjectURL(url), { once: true });
                            container.appendChild(div)
                            
                            filesNames[i]=(inputElem.files[i].name)
                        }
                    }
                    
                    function imageClick(imgId){
                        //console.log(imgId)
                        clickedImg=document.getElementById(imgId)
                    }
                    
                    function divClick(divId){
                    //console.log("nci3iqvbi")
                        if (clickedImg!=null&&divId!=null){
                            clickedImg.style.width = '110px'
                            clickedImg.style.height = '110px'
                            //cambio l'id dell'immagine con quello del posto dov'è stata messa
                            clickedImg.setAttribute('id',divId+'i')
                            //aggiorna l'array dei nomi dei file per tenere traccia dei cambi
                            for(let i=0;i<filesNames.length;i++){
                                for(let j=0;j<names.length;j++){
                                    if (divId===name[i]){
                                        let temp=filesNames[i]
                                        filesNames[i]=filesNames[j]
                                        filesNames[j]=temp
                                        break
                                    }
                                }
                            }
                            //console.log(names[document.getElementById(divId).dataset.value])
                            document.getElementById(divId).innerHTML=''
                            document.getElementById(divId).appendChild(clickedImg)
                            clickedImg=null
                            divId=null
                        }
                    }
                    
                    function getDivName(name){
                        //cerco nei nomi dei file la corrispondenza e ritorno parallelamente il nome della sezione in cui è stata messa la fot
                        for(let i=0;i<filesNames.length;i++){
                            if ((filesNames[i])===name){
                                //console.log(names[i])
                                return names[i]
                            }
                        }
                    }
                    
                    </script>

                    <div class="inline radioContainer">
                        RISOLUZIONE
                        <label for="1280">1280 X 800</label>
                        <input type="radio" id="1280" name="risoluzione" value="1280">
                        <label for="1024">1024 X 768</label>
                        <input type="radio" id="1024" name="risoluzione" value="1024">
                        <label for="800">800 X 600</label>
                        <input type="radio" id="800" name="risoluzione" value="800">
                    </div>
                    <div class="inline radioContainer">
                        RIDIMENSIONA
                        <label for="si">SÌ</label>
                        <input type="radio" id="si" name="ridimensiona" value="si">
                        <label for="no">NO</label>
                        <input type="radio" id="no" name="ridimensiona" value="no">
                    </div>
                </div>
                <!-- Linea centrale -->
                <div class="seconda">
                    <!-- Barra a sinistra(anteprima delle immagini caricate) -->
                    <div class="inline previews" id="divAnteprima">
                        
                    </div>
                    <!-- Quadrante di scelta a destra -->
                    <div class="inline assegnazioni" id="zonaAssegnazione">
                        <!-- Elenco dei quadratini -->
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="Occl. Superiore" data-value="0" onclick="divClick('Occl. Superiore')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">Occl. Superiore</p>
                        </div>
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="Occl. DX" data-value="1" onclick="divClick('Occl. DX')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">Occl. DX</p>
                        </div>
                        <div class="inline imgUpload">
                            <div  class="inline imgButton" id="Occ. Frontale" data-value="2" onclick="divClick('Occ. Frontale')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">Occl. Frontale</p>
                        </div>
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="Occl. SX" data-value="3" onclick="divClick('Occl. SX')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">Occl. SX</p>
                        </div>
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="Occl. Inferiore" data-value="4" onclick="divClick('Occl. Inferiore')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">Occl. Inferiore</p>
                        </div><br/>
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="Laterale" data-value="5" onclick="divClick('Laterale')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">Laterale</p>
                        </div>
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="Frontale" data-value="6" onclick="divClick('Frontale')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">Frontale</p>
                        </div>
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="Frontale Sorriso" data-value="7" onclick="divClick('Frontale Sorriso')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">Frontale Sorriso</p>
                        </div><br/>
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="RX Panoramica" data-value="8" onclick="divClick('RX Panoramica')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">RX Panoramica</p>
                        </div>
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="RX Laterale" data-value="9" onclick="divClick('RX Laterale')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">RX Laterale</p>
                        </div>
                        <div class="inline imgUpload">
                            <div class="inline imgButton" id="RX Frontale PA" data-value="10" onclick="divClick('RX Frontale PA')">
                                <img src="" alt=""/><br/>
                            </div>
                            <p class="descImg">RX Frontale PA</p>
                        </div>
                    </div>
                </div>
                <!-- Linea tasti invia e annulla -->
                <div class="utilsButtonsCOntainer">
                    <button class="annulla" @onclick="ToggleForm">Annulla</button>
                    <button class="salva" @onclick="SaveFiles">Invia</button>
                </div>
            </div>
        </div>
    }
    <!-- profilo paziente -->
    <div class="AreaPaziente inline">
        <img src="./assets/test/test.jpg" class="immaginePaziente">
        <div class="sezione"> marco doccia</div>
        <div class="intestazione">INFO CARTELLA</div>
        <div class="sezione" style="text-align: unset">
            <div class="sxAlign">
                N<br/>
                ETA' PAZIENTE
            </div>
            <div class="dxAlign">
                @numeroCartella<br/>
                @etaPaziente
            </div>
        </div>
        
        
        <div class="intestazione">INFO OAS</div>
        <div class="sezione" style="text-align: unset">
            <div class="sxAlign">
                RISCHIO<br/>
                ESAME<br/>
                VISITA<br/>
                MAD<br/>
                TRATTAMENTO
            </div>
            <div class="dxAlign">
                @rischio<br/>
                @esame<br/>
                @visita<br/>
                @mad<br/>
                @dataTrattamento
            </div>
        </div>


        <div class="intestazione">INFO OAS</div>
        <div class="sezione" style="text-align: unset">
            <div class="sxAlign">
                ANAMNESI<br/>
                PRIMA VISITA<br/>
                PARODONTO<br/>
                SPECIALISTICA<br/>
                PRESCRIZIONI<br/>
                PIANI TRATT.<br/>
                INCONTRI<br/>
                REFERTI<br/>
                PRESENTAZIONI
            </div>
            <div class="dxAlign">
                @anamanesi<br/>
                @prima<br/>
                @paradonto<br/>
                @specialistica<br/>
                @prescrizioni<br/>
                @pianiTrattamenti<br/>
                @incontri<br/>
                @referti<br/>
                @presentazioni
            </div>
        </div>

        <div class="intestazione">INFO OAS</div>
        <div class="sezione" style="text-align: unset">
            <div class="sxAlign">
                FATTURATO<br/>
                PREVENTIVI<br/>
                CURE EXTRA<br/>
                ESEGUITO
            </div>
            <div class="dxAlign">
                @fatturato<br/>
                @preventivi<br/>
                @extras<br/>
                @eseguito
            </div>
        </div>
    </div>
    <!-- area centrale -->
    <div class="AreaCentrale inline">
        <div class="barraStatoPaziente">
            PIANI DI CURA
            <select type="select" class="inputSelezione" placeholder=" ">
                <option value="p">Prova</option>
            </select>
            
            <button class="utilButton add"></button>
            <button class="utilButton edit"></button>
            <button class="utilButton lock"></button>
            <button class="utilButton notify"></button>
            <button class="utilButton bin"></button>
            <button class="utilButton save"></button>
            <button class="utilButton stamp"></button>
            <button class="utilButton pin"></button>
            
            <input class="check" type="checkbox"/> NON INIZIATO
            <input class="check" type="checkbox"/> TERMINATO
            <input class="check" type="checkbox"/> INTERROTTO
            <input class="check" type="checkbox"/> DOCUMENTATO
        </div>
        
        <div class="secondaSezione">
            <div class="sez1">
                <div class="insTesto">
                    <div class="spazioTesto inline">
                        DIAGNOSI
                    </div>
                    <div class="spazioInput inline">
                        <textarea class="bigInput"></textarea>
                    </div>
                </div>
                <div class="insTesto">
                    <div class="spazioTesto inline">
                        STATO
                    </div>
                    <div class="spazioInput inline">
                        <input type="text" class="smallInput"/>
                    </div>
                </div>
                <div class="insTesto inline">
                    <div class="spazioTesto inline">
                        NOTE MED.
                    </div>
                    <div class="spazioInput inline">
                        <textarea class="bigInput"></textarea>

                    </div>
                </div>
            </div>
            
            <div class="sez2">
                ESAMI
                <div class="esame"></div>
            </div>
            <div class="sez3">
                <label class="buttonScheda" for="btn1" id="label1" ></label>
                <input style="display: none" type="checkbox" id="btn1" onclick="toggleSfondo('label1')">
                <label class="buttonScheda" for="btn2" id="label2"></label>
                <input style="display: none" type="checkbox" id="btn2" onclick="toggleSfondo('label2')">
                <label class="buttonScheda" for="btn3" id="label3" ></label>
                <input style="display: none" type="checkbox" id="btn3" onclick="toggleSfondo('label3')">
                <label class="buttonScheda" for="btn4" id="label4"></label>
                <input style="display: none" type="checkbox" id="btn4" onclick="toggleSfondo('label4')">
                <label class="buttonScheda" for="btn5" id="label5"></label>
                <input style="display: none" type="checkbox" id="btn5" onclick="toggleSfondo('label5')">
                <label class="buttonScheda" for="btn6" id="label6"></label>
                <input style="display: none" type="checkbox" id="btn6" onclick="toggleSfondo('label6')">
                <label class="buttonScheda" for="btn7" id="label7"></label>
                <input style="display: none" type="checkbox" id="btn7" onclick="toggleSfondo('label7')">
                <label class="buttonScheda" for="btn8" id="label8"></label>
                <input style="display: none" type="checkbox" id="btn8" onclick="toggleSfondo('label8')">
                <label class="buttonScheda" for="btn9" id="label9"></label>
                <input style="display: none" type="checkbox" id="btn9" onclick="toggleSfondo('label9')">
                <label class="buttonScheda" for="btn10" id="label10"></label>
                <input style="display: none" type="checkbox" id="btn10" onclick="toggleSfondo('label10')">
                <label class="buttonScheda" for="btn11" id="label11"></label>
                <input style="display: none" type="checkbox" id="btn11" onclick="toggleSfondo('label11')">
                <label class="buttonScheda" for="btn12" id="label12"></label>
                <input style="display: none" type="checkbox" id="btn12" onclick="toggleSfondo('label12')">
                <label class="buttonScheda" for="btn13" id="label13"></label>
                <input style="display: none" type="checkbox" id="btn13" onclick="toggleSfondo('label13')">
                <label class="buttonScheda" for="btn14" id="label14"></label>
                <input style="display: none" type="checkbox" id="btn14" onclick="toggleSfondo('label14')">
                <label class="buttonScheda" for="btn15" id="label15"></label>
                <input style="display: none" type="checkbox" id="btn15" onclick="toggleSfondo('label15')">
                <label class="buttonScheda" for="btn16" id="label16"></label>
                <input style="display: none" type="checkbox" id="btn16" onclick="toggleSfondo('label16')">
                <script>
                    function toggleSfondo(id){
                        document.getElementById(id).classList.toggle('selezionato');
                    }
                </script>
            </div>
        </div>
    </div>
    
</div>

@code {
    private int numeroCartella;
    private string etaPaziente;
    private string rischio;
    private string esame;
    private string visita;
    private int mad;
    private string dataTrattamento;
    private int anamanesi;
    private string prima;
    private string paradonto;
    private string specialistica;
    private int prescrizioni;
    private int pianiTrattamenti;
    private int incontri;
    private int referti;
    private int presentazioni;
    private float fatturato;
    private float preventivi;
    private float extras;
    private float eseguito;
    
    private bool _visibile = false;
    [Inject] private IJSRuntime JSRuntime { get; set; }
    private InputFile? inputFile;
    private List<IBrowserFile> loadedFiles = new();
    
    private void ToggleForm()
    {
        _visibile = !_visibile;
    }

    private async Task OpenFilePicker()
        => await JSRuntime.InvokeVoidAsync("HTMLElement.prototype.click.call", inputFile!.Element);

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        loadedFiles = e.GetMultipleFiles().ToList();
        await ShowPreview();
    }

    private async Task ShowPreview()
    {
        if (inputFile != null)
        {
            await JSRuntime.InvokeVoidAsync("previewImage", inputFile.Element, "divAnteprima");
        }
    }

    private async Task SaveFiles()
    {
        if (loadedFiles.Any())
        {
            for (int i=0;i<loadedFiles.Count();i++)
            {
                try
                {
                    var trustedFileName = await getImgName(loadedFiles[i].Name)+".png";
                    //Console.WriteLine("\n\nAAAAAAAAAAAAAAAAAAAAA\n\n"+trustedFileName);
                    var path = Path.Combine(env.ContentRootPath, "uploads", trustedFileName);

                    await using FileStream fs = new(path, FileMode.Create);
                    await loadedFiles[i].OpenReadStream().CopyToAsync(fs);

                    Console.WriteLine($"File saved: {trustedFileName}");
                }
                catch (Exception ex)
                {
                    Console.WriteLine($"Error saving file: {ex.Message}");
                }
            }
            ToggleForm();
        }
    }
    
    private async Task<string> getImgName(string name)
    {
        return await JS.InvokeAsync<string>("getDivName", name);
    }
}
